$color_black: #313437;
$color_grey: #7d8285;
$color_white: #d0d0d0;
$color_light_grey: #a2a8ae;
$background_shade_white: #eef4f7;
$background_white: #fff;

.team-boxed {
  color: $color_black;
  background-color: $background_shade_white;
  p {
    color: $color_grey;
  }
  h2 {
    font-weight: bold;
    margin-bottom: 40px;
    padding-top: 40px;
    color: inherit;
  }
  .intro {
    font-size: 16px;
    max-width: 500px;
    margin: 0 auto;
    p {
      margin-bottom: 0;
    }
  }
  .people {
    padding: 50px 0;
  }
  .item {
    text-align: center;
    .box {
      text-align: center;
      padding: 30px;
      background-color: $background_white;
      margin-bottom: 30px;
    }
    .name {
      font-weight: bold;
      margin-top: 28px;
      margin-bottom: 8px;
      color: inherit;
    }
    .title {
      text-transform: uppercase;
      font-weight: bold;
      color: $color_white;
      letter-spacing: 2px;
      font-size: 13px;
    }
    .description {
      font-size: 15px;
      margin-top: 15px;
      margin-bottom: 20px;
    }
    img {
      max-width: 160px;
    }
  }
  .social {
    font-size: 18px;
    color: $color_light_grey;
    a {
      color: inherit;
      margin: 0 10px;
      display: inline-block;
      opacity: 0.7;
      &:hover {
        opacity: 1;
      }
    }
  }
}
@media (max-width: 767px) {
  .team-boxed {
    h2 {
      margin-bottom: 25px;
      padding-top: 25px;
      font-size: 24px;
    }
  }
}
