$color_black: #313437;
$color_grey: #7d8285;
$color_white: #d0d0d0;
$color_light_grey: #a2a8ae;
$background_shade_white: #eef4f7;
$background_white: #fff;

.team-boxed {
  color: $color_black;
  background-color: $background_shade_white;
  p {
    color: $color_grey;
  }
  h2 {
    font-weight: bold;
    margin-bottom: 40px;
    padding-top: 40px;
    color: inherit;
  }
  .intro {
    font-size: 16px;
    max-width: 500px;
    margin: 0 auto;
    p {
      margin-bottom: 0;
    }
  }
  .people {
    padding: 50px 0;
  }
  .item {
    text-align: center;
    .box {
      text-align: center;
      padding: 30px;
      background-color: #fff6ed;
      margin-bottom: 30px;
      .name {
        font-size: 30px;
        line-height: 46px;
        text-transform: uppercase;
        font-weight: 700;
        color: #6c3e12;
        margin: 0;
      }
      .title {
        margin: 1em 0;
        color: #2978ac;
        font-size: 18px;
        font-style: italic;
        margin-bottom: 22px;
        line-height: 24px;
      }
      .description {
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
        margin: 1em;
        color: #c89b6e;
      }
      .timer-box {
        background-color: #e7c9ab;
        font-weight: 700;
        .time {
          flex-grow: 1;
          color: #976635;
        }
        margin: 1em 0;
      }
      .register {
        margin: 0px 10px 0px;
        font-size: 16px;
        padding: 12px 40px;
        text-transform: uppercase;
        .btn-common {
          background-color: #5a3102;
          position: relative;
          z-index: 1;
        }
        a {
          color: #fff;
        }
      }
      .speakers {
        .column {
          flex-grow: 1;
          margin-left: 5px;
          padding: 5px;
          overflow-wrap: break-word;
          width: 40%;
          span {
            color: #5a3102;
            font-weight: 700;
            font-size: 12px;
            margin-top: 5px;
          }
        }
      }
      img {
        width: 70px;
        height: 70px;
        margin-right: 10px;
        background: url(../../assets/images/lrLogo.png);
      }
    }
  }
  .social {
    font-size: 18px;
    color: $color_light_grey;
    a {
      color: inherit;
      margin: 0 10px;
      display: inline-block;
      opacity: 0.7;
      &:hover {
        opacity: 1;
      }
    }
  }
}
.header-dark {
  padding: 0px;
}
.events {
}
@media (max-width: 767px) {
  .team-boxed {
    h2 {
      margin-bottom: 25px;
      padding-top: 25px;
      font-size: 24px;
    }
  }
}
